<%- include('../header') %> 
<%- include('../menu') %>
<div class="container">
  <h1>Informacion del usuario <%= user.user %></h1>
  <ul>
    <li>Nombre: <%= user.name %></li>
    <li>Rol: <%= user.role %></li>
  </ul>
</div>
<%- include('../footer') %>
